<template>
	<div>
		<div v-for="recipe in recipes">
			<RecipeComponent v-bind:title="recipe.title"
							 v-bind:link="recipe.href"
							 v-bind:ingredients="recipe.ingredients"
							 v-bind:thumbnail="recipe.thumbnail">
			</RecipeComponent>
		</div>
	</div>
</template>

<script>
import RecipeComponent from "./components/RecipeComponent.vue"
export default {
	name: "RecipePage",
	data(){
		return {recipes: []}
	},
	beforeMount: function(){
		const app = this;
		const recipeUrl = "http://www.recipepuppy.com/api/";

		fetch(recipeUrl)
			.then(function(response) {
				return response.json();
			})
			.then(function(res) {
				app.recipes = res.result;
				console.log(res);
			})
	}
}
</script>