<template>
	<img :alt="title" :src="thumbnail"/>
	<h1>{{title}}</h1>
	<p>{{ingredients}}</p>
	<a :title="title" :href="link" target="_blank">Link</a>
</template>

<script>
export default {
	name "RecipeComponent",
	props: ["title", "link", "ingredients", "thumbnail"]
}
</script>